<!DOCTYPE html>
<html lang="en">
    
<body>
    {{> nav-bar}}
    {{#if admin}}
        <script>alert('Welcome back {{userLogged}}')</script>
    {{/if}}
    <div class="opciones">
        <ul class="categorias">
            <li><a href="#entradas">Entradas</a> </li>
            <li><a href="#sandwich">Sandwich</a> </li>
            <li><a href="#pescados-y-mariscos">Pescados y Mariscos</a> </li>
            <li><a href="#pastas">Pastas</a> </li>
            <li><a href="#carnes-rojas">Carnes Rojas</a> </li>
            <li><a href="#carnes-blancas">Carnes Blancas</a> </li>
            <li><a href="#guarniciones">Guarnicion</a> </li>
            <li><a href="#ensaladas">Ensaladas</a> </li>
            <li><a href="#arroces">Arroces</a> </li>
            <li><a href="#postres">Postres</a> </li>
            <li><a href="#cafeteria">Cafeteria</a></li>
            <li><a href="#bebidas">Bebidas</a></li>
            <li><a href="#cervezas">Cervezas</a></li>
            <li><a href="#menu-infantil">Menu Infantil</a></li>
        </ul>
    </div>
    <div class="container" id="infoDiv">

        <div class="container-main">
            <h2>Nuestros platos Referentes</h2>
            <div class="card card1" style="background-image: url(/images/mondongo-a-la-espanola.jpeg);">
                <div class="texto">
                    <h4>Mondongo a la Espanola</h4>
                    <p>Mondongo con morron, cebolla, chorizo y pimienta.</p>
                </div>
            </div>
            <div class="card card2" style="background-image: url(/images/bondiola-a-la-mostaza.jpeg); ">
                <div class="texto">
                    <h4>Bondiola a la Mostaza </h4>
                    <p>Bondiola a la mostaza con papas y verduras salteadas, una delicia</p>
                </div>
            </div>
            <div class="card card3" style="background-image: url(/images/picada.jpeg); ">
                <div class="texto">
                    <h4>Picada</h4>
                    <p>Jamon crudo y cocido, salame, matambre, queso y aceitunas</p>
                </div>
            </div>
            <div class="card card4" style="background-image: url(/images/merluza-al-roquefort.jpeg);">
                <div class="texto">
                    <h4>Merluza al Roquefort</h4>
                    <p>Merluza al roquefort con queso gratinado, acompanado de pure</p>
                </div>
            </div>
            <div class="card card5" style="background-image: url(/images/suprema-fiorentina.jpeg);">
                <div class="texto">
                    <h4>Suprema a la fiorentina</h4>
                    <p>Suprema a la fiorentina, con morron, acelga salteada  y arroz</p>
                </div>
            </div>
            <div class="card card6" style="background-image: url(/images/rabas.jpg);">
                <div class="texto">
                    <h4>Rabas</h4>
                    <p>Aros de calamar fritos, porcion para 2, un manjar</p>
                </div>
            </div>
        </div>

        <div class="container-aside">
                <h2>Menu del Dia</h2>
                <p id="nombrePDia">{{platoDia.nombre}}</p>
                <p id="descripcionPDia">{{platoDia.descripcion}}</p>
        </div>

        <hr id="lineaMoviles">
    </div>
    
    <hr id="lineaMenuTextual">

    <div class="menu">
        
        <div class="categoria" id="entradas">
            <h3>Entradas</h3>
            <ul>
            {{#each entradas}}
                <li><h4><label for="">*</label>{{nombre}}</h4><button class="buyBtn" value='{ "id":{{idPlato}}, "nombre":"{{nombre}}", "precio":{{precio}} }'>${{precio}} <img src="/Iconos/shoppingCart/apple-touch-icon.png" alt=""></button></li>
            {{/each}}
            </ul>
        </div>
        
        <div class="categoria" id="sandwich">
            <h3>Sandwichs</h3>
            <ul>
            {{#each sandwichs}}
               <li><h4><label for="">*</label>{{nombre}}</h4><button class="buyBtn" value='{ "id":{{idPlato}}, "nombre":"{{nombre}}", "precio":{{precio}} }'>${{precio}} <img src="/Iconos/shoppingCart/apple-touch-icon.png" alt=""></button></li>
            {{/each}}
            </ul>
        </div>
        
        <div class="categoria" id="pescados-y-mariscos">
            <h3>Pescados y Mariscos</h3>
            <ul>
            {{#each pescados}}
                <li><h4><label for="">*</label>{{nombre}}</h4><button class="buyBtn" value='{ "id":{{idPlato}}, "nombre":"{{nombre}}", "precio":{{precio}} }'>${{precio}} <img src="/Iconos/shoppingCart/apple-touch-icon.png" alt=""></button></li>
            {{/each}}
            </ul>
        </div>
        
        <div class="categoria" id="pastas">
            <h3>Pastas</h3>
            <ul>
            {{#each pastas}}
                <li><h4><label for="">*</label>{{nombre}}</h4><button class="buyBtn" value='{ "id":{{idPlato}}, "nombre":"{{nombre}}", "precio":{{precio}} }'>${{precio}} <img src="/Iconos/shoppingCart/apple-touch-icon.png" alt=""></button></li>
            {{/each}}
            </ul>
        </div>
        
        <div class="categoria" id="carnes-rojas">
            <h3>Carnes Rojas</h3>
            <ul>
            {{#each carnesRojas}}
                <li><h4><label for="">*</label>{{nombre}}</h4><button class="buyBtn" value='{ "id":{{idPlato}}, "nombre":"{{nombre}}", "precio":{{precio}} }'>${{precio}} <img src="/Iconos/shoppingCart/apple-touch-icon.png" alt=""></button></li>
            {{/each}}
            </ul>
        </div>
        
        <div class="categoria" id="carnes-blancas">
            <h3>Carnes Blancas</h3>
            <ul>
            {{#each carnesBlancas}}
                <li><h4><label for="">*</label>{{nombre}}</h4><button class="buyBtn" value='{ "id":{{idPlato}}, "nombre":"{{nombre}}", "precio":{{precio}} }'>${{precio}}<img src="/Iconos/shoppingCart/apple-touch-icon.png" alt=""></button></li>
            {{/each}}
            </ul>
        </div>
        
        <div class="categoria" id="guarniciones">
            <h3>Guarnicion</h3>
            <ul>
            {{#each guarniciones}}
                <li><h4><label for="">*</label>{{nombre}}</h4><button class="buyBtn" value='{ "id":{{idPlato}}, "nombre":"{{nombre}}", "precio":{{precio}} }'>${{precio}}<img src="/Iconos/shoppingCart/apple-touch-icon.png" alt=""></button></li>
            {{/each}}
            </ul>
        </div>
        
        <div class="categoria" id="ensaladas">
            <h3>Ensaladas</h3>
            <ul>
            {{#each ensaladas}}
                <li><h4><label for="">*</label>{{nombre}}</h4><button class="buyBtn" value='{ "id":{{idPlato}}, "nombre":"{{nombre}}", "precio":{{precio}} }'>${{precio}} <img src="/Iconos/shoppingCart/apple-touch-icon.png" alt=""></button></li>
            {{/each}}
            </ul>
        </div>
        
        <div class="categoria" id="arroces">
            <h3>Arroces</h3>
            <ul>
            {{#each arroces}}
                <li><h4><label for="">*</label>{{nombre}}</h4><button class="buyBtn" value='{ "id":{{idPlato}}, "nombre":"{{nombre}}", "precio":{{precio}} }'>${{precio}} <img src="/Iconos/shoppingCart/apple-touch-icon.png" alt=""></button></li>
            {{/each}}
            </ul>
        </div>
        
        <div class="categoria" id="postres">
            <h3>Postres</h3>
            <ul>
            {{#each postres}}
                <li><h4><label for="">*</label>{{nombre}}</h4><button class="buyBtn" value='{ "id":{{idPlato}}, "nombre":"{{nombre}}", "precio":{{precio}} }'>${{precio}} <img src="/Iconos/shoppingCart/apple-touch-icon.png" alt=""></button></li>
            {{/each}}
            </ul>
        </div>
        
        <div class="categoria" id="cafeteria">
            <h3>Cafeteria</h3>
            <ul>
            {{#each cafeteria}}
                <li><h4><label for="">*</label>{{nombre}}</h4><button class="buyBtn" value='{ "id":{{idPlato}}, "nombre":"{{nombre}}", "precio":{{precio}} }'>${{precio}} <img src="/Iconos/shoppingCart/apple-touch-icon.png" alt=""></button></li>
            {{/each}}
            </ul>
        </div>
        
        <div class="categoria" id="bebidas">
            <h3>Bebidas</h3>
            <ul>
            {{#each bebidas}}
                <li><h4><label for="">*</label>{{nombre}}</h4><button class="buyBtn" value='{ "id":{{idPlato}}, "nombre":"{{nombre}}", "precio":{{precio}} }'>${{precio}} <img src="/Iconos/shoppingCart/apple-touch-icon.png" alt=""></button></li>
            {{/each}}
            </ul>
        </div>
        
        <div class="categoria" id="cervezas">
            <h3>Cervezas</h3>
            <ul>
            {{#each cervezas}}
                <li><h4><label for="">*</label>{{nombre}}</h4><button class="buyBtn" value='{ "id":{{idPlato}}, "nombre":"{{nombre}}", "precio":{{precio}} }'>${{precio}} <img src="/Iconos/shoppingCart/apple-touch-icon.png" alt=""></button></li>
            {{/each}}
            </ul>
        </div>
        
        <div class="categoria" id="menu-infantil">
            <h3>Menu Infantil</h3>
            <ul>
            {{#each menuInfantil}}
                <li><h4><label for="">*</label>{{nombre}}</h4><button class="buyBtn" value='{ "id":{{idPlato}}, "nombre":"{{nombre}}", "precio":{{precio}} }'>${{precio}} <img src="/Iconos/shoppingCart/apple-touch-icon.png" alt=""></button></li>
            {{/each}}
            </ul>
        </div>
        
        <div id="details">
            <button id="order">
                <span>Vaciar Carrito</span>
            </button>
            <input type="text" disabled="true" id="subtotal" placeholder="$0">
        </div>
        <p>*Vaciar carrito y el Subtotal no tienen mas funcion que la de mostrar el total de los platos añadidos al carro*</p>
    </div>

    {{> editPanel}}

    {{> footer}}

    <script  type='module' src="/script.js"></script>
</body>
</html>