<!--Inicio seccion editar Plato del Dia-->
    <div class="isInactive editInfo " id="editInfoDiv">
        <div id="editPanel">
            <button id="back"><</button>
            <div class="inputDiv" id="platosPrecargados">
                <h2>Elija un plato cargado anteriormente</h2>
                <select id="eligePlatoDia" onchange=" location.href = 'foods/updateDishOfTheDay/' + this.value ">
                    {{#each listaPlatosDia}}
                        <option value="{{idPlatoDia}}">{{nombre}}</option>
                    {{/each}}
                    <!--Disabled para que se marque el actual y no pueda actualizarse-->
                    <option value="" disabled selected>{{platoDia.nombre}}</option>
                </select>
            </div>
            <h2 class="separador">O Cargue un nuevo Plato del Dia</h2>
            <div class="inputDiv">
                <label for="">Plato del dia</label>
                <input id="inputPlatoDia"type="text">
            </div>
            <div class="inputDiv">
                <label for="">Descripcion plato del dia</label>
                <textarea name="" id="descripcionPlatoDia" cols="30" rows="10" placeholder="Descripcion del plato"onkeyup=""></textarea>
            </div>
            <div class="presentacionPrevia">
                <h3>Presentacion previa</h3>
                <h4 id="presentacionNombre">Nombre plato dia</h4>
                <p id="presentacionDesc">Descripcion plato dia</p>
            </div>
            <button id="edit">AÑADIR</button>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
            crossorigin="anonymous"
            ></script>
            <script>
                let addBtn = document.getElementById('edit');
                addBtn.onclick= async(e)=>{
                    e.preventDefault();
                    let nombre = document.getElementById('inputPlatoDia').value;
                    let description = document.getElementById('descripcionPlatoDia').value;
                    try{
                        axios.post('/foods/newDishOfTheDay',{nombre,description}).then((response)=>{
                        if(response.data.redirect == '/foods'){
                            window.location = '/foods'
                        }else{alert(response.data.msg)}
                    });
                    }catch(error){
                        console.log(error.message);
                    }
                } 
            </script>
            <div id="menuModificarPrecios">
                        <button class="acordion">Entradas</button>
                        <div class="panel notShow">
                            <ul>
                                {{#each entradas}}
                                <li><h4><label for="">*</label>{{nombre}}</h4>
                                <input type="text" disabled value="{{idPlato}}" style="display: none;">
                                <label for="">Edite nuevo precio</label><input type="number" placeholder="{{precio}}">
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        <button class="acordion">Sandwichs</button>
                        <div class="panel notShow">
                            <ul>
                                {{#each sandwichs}}
                                <li><h4><label for="">*</label>{{nombre}}</h4>
                                <input type="text" disabled value="{{idPlato}}" style="display: none;">
                                <label for="">Edite nuevo precio</label><input type="number" placeholder="{{precio}}">
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        <button class="acordion">Pescados</button>
                        <div class="panel notShow">
                            <ul>
                                {{#each pescados}}
                                <li><h4><label for="">*</label>{{nombre}}</h4>
                                <input type="text" disabled value="{{idPlato}}" style="display: none;">
                                <label for="">Edite nuevo precio</label><input type="number" placeholder="{{precio}}">
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        <button class="acordion">Pastas</button>
                        <div class="panel notShow">
                            <ul>
                                {{#each pastas}}
                                <li><h4><label for="">*</label>{{nombre}}</h4>
                                <input type="text" disabled value="{{idPlato}}" style="display: none;">
                                <label for="">Edite nuevo precio</label><input type="number" placeholder="{{precio}}">
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        <button class="acordion">CarnesRojas</button>
                        <div class="panel notShow">
                            <ul>
                                {{#each carnesRojas}}
                                <li><h4><label for="">*</label>{{nombre}}</h4>
                                <input type="text" disabled value="{{idPlato}}" style="display: none;">
                                <label for="">Edite nuevo precio</label><input type="number" placeholder="{{precio}}">
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        <button class="acordion">CarnesBlancas</button>
                        <div class="panel notShow">
                            <ul>
                                {{#each carnesBlancas}}
                                <li><h4><label for="">*</label>{{nombre}}</h4>
                                <input type="text" disabled value="{{idPlato}}" style="display: none;">
                                <label for="">Edite nuevo precio</label><input type="number" placeholder="{{precio}}">
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        <button class="acordion">Guarniciones</button>
                        <div class="panel notShow">
                            <ul>
                                {{#each guarniciones}}
                                <li><h4><label for="">*</label>{{nombre}}</h4>
                                <input type="text" disabled value="{{idPlato}}" style="display: none;">
                                <label for="">Edite nuevo precio</label><input type="number" placeholder="{{precio}}">
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        <button class="acordion">Ensaladas</button>
                        <div class="panel notShow">
                            <ul>
                                {{#each ensaladas}}
                                <li><h4><label for="">*</label>{{nombre}}</h4>
                                <input type="text" disabled value="{{idPlato}}" style="display: none;">
                                <label for="">Edite nuevo precio</label><input type="number" placeholder="{{precio}}">
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        <button class="acordion">Arroces</button>
                        <div class="panel notShow">
                            <ul>
                                {{#each arroces}}
                                <li><h4><label for="">*</label>{{nombre}}</h4>
                                <input type="text" disabled value="{{idPlato}}" style="display: none;">
                                <label for="">Edite nuevo precio</label><input type="number" placeholder="{{precio}}">
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        <button class="acordion">Postres</button>
                        <div class="panel notShow">
                            <ul>
                                {{#each postres}}
                                <li><h4><label for="">*</label>{{nombre}}</h4>
                                <input type="text" disabled value="{{idPlato}}" style="display: none;">
                                <label for="">Edite nuevo precio</label><input type="number" placeholder="{{precio}}">
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        <button class="acordion">Menu Infantil</button>
                        <div class="panel notShow">
                            <ul>
                                {{#each cafeteria}}
                                <li><h4><label for="">*</label>{{nombre}}</h4>
                                <input type="text" disabled value="{{idPlato}}" style="display: none;">
                                <label for="">Edite nuevo precio</label><input type="number" placeholder="{{precio}}">
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        <button class="acordion">Bebidas</button>
                        <div class="panel notShow">
                            <ul>
                                {{#each bebidas}}
                                <li><h4><label for="">*</label>{{nombre}}</h4>
                                <input type="text" disabled value="{{idPlato}}" style="display: none;">
                                <label for="">Edite nuevo precio</label><input type="number" placeholder="{{precio}}">
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        <button class="acordion">Cervezas</button>
                        <div class="panel notShow">
                            <ul>
                                {{#each cervezas}}
                                <li><h4><label for="">*</label>{{nombre}}</h4>
                                <input type="text" disabled value="{{idPlato}}" style="display: none;">
                                <label for="">Edite nuevo precio</label><input type="number" placeholder="{{precio}}">
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        <button class="acordion">Menu Infantil</button>
                        <div class="panel notShow">
                            <ul id="ulMenuInfantil">
                                {{#each menuInfantil}}
                                <li class="liIterar"><h4><label for="">*</label>{{nombre}}</h4>
                                <input type="text" disabled value="{{idPlato}}" style="display: none;">
                                <label for="">Edite nuevo precio</label><input type="number" value=3 placeholder="{{precio}}">
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                    <script>
                        let buttons = document.getElementsByClassName("acordion");
                        console.log(buttons);
                        for(let i=0;i<buttons.length;i++){
                            buttons[i].onclick = ()=>{
                                console.log(buttons[i]);
                                buttons[i].classList.toggle('active');
                                console.log(buttons[i].nextElementSibling);
                                buttons[i].nextElementSibling.classList.toggle("notShow");
                                buttons[i].nextElementSibling.classList.toggle("show");
                            }
                        }  

                        let ulMenuInfantil = document.getElementsByClassName("liIterar");
                        for(let i =0; i<ulMenuInfantil.length; i++){
                            let inputs = ulMenuInfantil[i].getElementsByTagName("input")
                            console.log(inputs);
                            if(inputs[1].value != ""){
                                console.log(Number(inputs[1].value) + ' Ya obtuve el input, ahora solo queda obtener los valores con un boton y pasarlos a un arreglo que tenga el id y el precio nuevo para actualizarlos usando un array y axios ')
                            }
                        }
                    </script>
            <div id="modificacionPrecios">
            <form action="#" method="">
                <h2 class="">Desea Aumentar o Disminuir los Precios?</h2>
                <div id="opcionesPrecios">
                    <div class="inputRadioModPrecio"><label for="">Aumentar Precios</label><input type="radio" name="opcionPrecios" id="" value="aumentar" checked></div>
                    <div class="inputRadioModPrecio"><label for="">Disminuir Precios </label><input type="radio" name="opcionPrecios" id="" value="disminuir"></div>
                </div>
                <div class="categoriaModificar">

                    <h3>Categoria a modificar Precio</h3>
                    <select id="categoria">
                        <option value="Entradas">Entradas</option>
                        <option value="Sandwich">Sandwich</option>
                        <option value="Pescados y Mariscos">Pescados y Mariscos</option>
                        <option value="Pastas">Pastas</option>
                        <option value="Carnes Rojas">Carnes Rojas</option>
                        <option value="Carnes Blancas">Carnes Blancas</option>
                        <option value="Guarnicion">Guarnicion</option>
                        <option value="Ensaladas">Ensaladas</option>
                        <option value="Arroces">Arroces</option>
                        <option value="Postres">Postres</option>
                        <option value="Cafeteria">Cafeteria</option>
                        <option value="Bebidas">Bebidas</option>
                        <option value="Cervezas">Cervezas</option>
                        <option value="Menu infantil" selected>Menu infantil</option>
                    </select>
                    <input type="number" name="" id="porcentaje" placeholder="Porcentaje en enteros y decimales">
                    <button type="submit" id="submitUpdate">ACTUALIZAR PRECIO</button>
                    </form>
                    
                    <script>
                    //Obtiene los valores ingresados en los inputs, los procesa y con Axios realiza un post a la ruta updatePrices para actualizar los precios de la categoria elegida
                    const btn = document.getElementById("submitUpdate");
                    btn.onclick = async (e)=>{
                        e.preventDefault();
                        console.log('Click');
                        const select = document.getElementById("categoria");
                        const categoriaSelected = select.options[select.selectedIndex].text;
                        const opcionSelected = document.querySelector('input[name="opcionPrecios"]:checked').value;
                        const porcentajeSelected = Number(document.getElementById('porcentaje').value)/100;
                        
                        try{
                            if(porcentajeSelected == ""){throw new Error('Elija si desea aumentar o disminuir los precios e indique el porcentaje y la categoria a modificar');}
                            //Realiza un post, si aumenta o disminuye correctamente se recibe en redirect = '/foods' trayendo al admin al homePage
                            axios.post('/foods/updatePrices',{categoria:categoriaSelected,porcentaje:porcentajeSelected,opcionSeleccionada:opcionSelected}).then((response)=>{
                                if(response.data.redirect == '/foods'){
                                    window.location = '/foods'
                                }else{
                                    alert(response.data.msg);
                                }
                            })
                        }catch(error){
                            alert(error.message);
                        }
                    }
                    </script>
                </div>
            </div> 
        </div>
    </div>
    <!--Fin seccion editar Plato del Dia-->