<!--Inicio seccion editar Plato del Dia-->
    <div class="isInactive editInfo " id="editInfoDiv">
        <div id="editPanel">
            <button id="back"><</button>
            <div class="inputDiv" id="platosPrecargados">
                <h2>Elija un plato cargado anteriormente</h2>
                <select id="eligePlatoDia" onchange=" location.href = 'foods/updateDishOfTheDay/' + this.value ">
                    {{#each listaPlatosDia}}
                        <option value="{{idPlatoDia}}">{{nombre}}</option>
                    {{/each}}
                    <!--Disabled para que se marque el actual y no pueda actualizarse-->
                    <option value="" disabled selected>{{platoDia.nombre}}</option>
                </select>
            </div>
            <h2 class="separador">O Cargue un nuevo Plato del Dia</h2>
            <div class="inputDiv">
                <label for="">Plato del dia</label>
                <input id="inputPlatoDia"type="text">
            </div>
            <div class="inputDiv">
                <label for="">Descripcion plato del dia</label>
                <textarea name="" id="descripcionPlatoDia" cols="30" rows="10" placeholder="Descripcion del plato"onkeyup=""></textarea>
            </div>
            <div class="presentacionPrevia">
                <h3>Presentacion previa</h3>
                <h4 id="presentacionNombre">Nombre plato dia</h4>
                <p id="presentacionDesc">Descripcion plato dia</p>
            </div>
            <button id="edit">AÑADIR</button>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
            crossorigin="anonymous"
            ></script>
            <script>
                let addBtn = document.getElementById('edit');
                addBtn.onclick= async(e)=>{
                    e.preventDefault();
                    let nombre = document.getElementById('inputPlatoDia').value;
                    let description = document.getElementById('descripcionPlatoDia').value;
                    try{
                        axios.post('/foods/newDishOfTheDay',{nombre,description}).then((response)=>{
                        if(response.data.redirect == '/foods'){
                            window.location = '/foods'
                        }else{
                            alert(response.data.msg)
                        }
                    });
                    }catch(error){
                        console.log(error.message);
                    }
                } 
            </script>
            <hr id="" style="height: 3px; width:80%; margin:24px">
            <div id="menuModificarPrecios">
                <h2>Menu Modificar Precios</h2>
                <h3 style="margin-bottom: 16px;">Seleccione la categoria que quiera modificar, dentro del menu escriba los nuevos precios y luego debajo del todo clickee el boton Editar Precios</h3>
                        <button class="acordion">Entradas</button>
                        <div class="panel notShow">
                            <ul>
                                {{#each entradas}}
                                <li class="liIterar"><h4><label for="">*</label>{{nombre}}</h4>
                                <input type="text" disabled value="{{idPlato}}" style="display: none;">
                                <label for="">Edite nuevo precio</label><input type="number" placeholder="${{precio}}">
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        <button class="acordion">Sandwichs</button>
                        <div class="panel notShow">
                            <ul>
                                {{#each sandwichs}}
                                <li class="liIterar"><h4><label for="">*</label>{{nombre}}</h4>
                                <input type="text" disabled value="{{idPlato}}" style="display: none;">
                                <label for="">Edite nuevo precio</label><input type="number" placeholder="${{precio}}">
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        <button class="acordion">Pescados</button>
                        <div class="panel notShow">
                            <ul>
                                {{#each pescados}}
                                <li class="liIterar"><h4><label for="">*</label>{{nombre}}</h4>
                                <input type="text" disabled value="{{idPlato}}" style="display: none;">
                                <label for="">Edite nuevo precio</label><input type="number" placeholder="${{precio}}">
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        <button class="acordion">Pastas</button>
                        <div class="panel notShow">
                            <ul>
                                {{#each pastas}}
                                <li class="liIterar"><h4><label for="">*</label>{{nombre}}</h4>
                                <input type="text" disabled value="{{idPlato}}" style="display: none;">
                                <label for="">Edite nuevo precio</label><input type="number" placeholder="${{precio}}">
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        <button class="acordion">CarnesRojas</button>
                        <div class="panel notShow">
                            <ul>
                                {{#each carnesRojas}}
                                <li class="liIterar"><h4><label for="">*</label>{{nombre}}</h4>
                                <input type="text" disabled value="{{idPlato}}" style="display: none;">
                                <label for="">Edite nuevo precio</label><input type="number" placeholder="${{precio}}">
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        <button class="acordion">CarnesBlancas</button>
                        <div class="panel notShow">
                            <ul>
                                {{#each carnesBlancas}}
                                <li class="liIterar"><h4>{{nombre}}</h4>
                                <input type="text" disabled value="{{idPlato}}" style="display: none;">
                                <label for="">Edite nuevo precio</label><input type="number" placeholder="${{precio}}">
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        <button class="acordion">Guarniciones</button>
                        <div class="panel notShow">
                            <ul>
                                {{#each guarniciones}}
                                <li class="liIterar"><h4><label for="">*</label>{{nombre}}</h4>
                                <input type="text" disabled value="{{idPlato}}" style="display: none;">
                                <label for="">Edite nuevo precio</label><input type="number" placeholder="${{precio}}">
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        <button class="acordion">Ensaladas</button>
                        <div class="panel notShow">
                            <ul>
                                {{#each ensaladas}}
                                <li class="liIterar"><h4><label for="">*</label>{{nombre}}</h4>
                                <input type="text" disabled value="{{idPlato}}" style="display: none;">
                                <label for="">Edite nuevo precio</label><input type="number" placeholder="${{precio}}">
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        <button class="acordion">Arroces</button>
                        <div class="panel notShow">
                            <ul>
                                {{#each arroces}}
                                <li class="liIterar"><h4><label for="">*</label>{{nombre}}</h4>
                                <input type="text" disabled value="{{idPlato}}" style="display: none;">
                                <label for="">Edite nuevo precio</label><input type="number" placeholder="${{precio}}">
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        <button class="acordion">Postres</button>
                        <div class="panel notShow">
                            <ul>
                                {{#each postres}}
                                <li class="liIterar"><h4><label for="">*</label>{{nombre}}</h4>
                                <input type="text" disabled value="{{idPlato}}" style="display: none;">
                                <label for="">Edite nuevo precio</label><input type="number" placeholder="${{precio}}">
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        <button class="acordion">Cafeteria</button>
                        <div class="panel notShow">
                            <ul>
                                {{#each cafeteria}}
                                <li class="liIterar"><h4><label for="">*</label>{{nombre}}</h4>
                                <input type="text" disabled value="{{idPlato}}" style="display: none;">
                                <label for="">Edite nuevo precio</label><input type="number" placeholder="${{precio}}">
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        <button class="acordion">Bebidas</button>
                        <div class="panel notShow">
                            <ul>
                                {{#each bebidas}}
                                <li class="liIterar"><h4><label for="">*</label>{{nombre}}</h4>
                                <input type="text" disabled value="{{idPlato}}" style="display: none;">
                                <label for="">Edite nuevo precio</label><input type="number" placeholder="${{precio}}">
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        <button class="acordion">Cervezas</button>
                        <div class="panel notShow">
                            <ul>
                                {{#each cervezas}}
                                <li class="liIterar"><h4><label for="">*</label>{{nombre}}</h4>
                                <input type="text" disabled value="{{idPlato}}" style="display: none;">
                                <label for="">Edite nuevo precio</label><input type="number" placeholder="${{precio}}">
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        <button class="acordion">Menu Infantil</button>
                        <div class="panel notShow">
                            <ul id="ulMenuInfantil">
                                {{#each menuInfantil}}
                                <li class="liIterar"><h4><label for="">*</label>{{nombre}}</h4>
                                <input type="text" disabled value="{{idPlato}}" style="display: none;">
                                <label for="">Edite nuevo precio</label><input type="number" placeholder="${{precio}}">
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        <button id="editPrices" style="width: 180px;">Editar Precios</button>
                    </div>
                    <script>
                        let buttons = document.getElementsByClassName("acordion");
                        console.log(buttons);
                        for(let i=0;i<buttons.length;i++){
                            buttons[i].onclick = ()=>{
                                console.log(buttons[i]);
                                buttons[i].classList.toggle('active');
                                console.log(buttons[i].nextElementSibling);
                                buttons[i].nextElementSibling.classList.toggle("notShow");
                                buttons[i].nextElementSibling.classList.toggle("show");
                            }
                        } 
                        let editPricesBtn = document.getElementById("editPrices");

                        //A todos los li de las listas les asigno la clase liIterar para obtenerlos a todos aqui y extraer los datos de los platos modificados de esta manera
                        let platosValues = document.getElementsByClassName("liIterar");
                        
                        let dishes = [];

                        editPricesBtn.onclick = ()=>{
                            console.log('Edit Prices clickeado')
                            for(let i =0; i<platosValues.length; i++){

                                //Por cada li en el cual itero, obtengo todos sus inputs, de esta forma accedo al id del plato con inputs[0] y al precio modificado con inputs[1], si este ultimo es == "" quiere decir que el admin no lo desea modificar.
                                let inputs = platosValues[i].getElementsByTagName("input")
                                
                                if(inputs[1].value != ""){
                                    let platoActualizado = {id:inputs[0].value,precio:inputs[1].value};
                                    dishes.push(platoActualizado);
                                }
                            }
                            try{
                                if(dishes.length == 0){
                                    throw new Error('Debe especificar el nuevo precio de al menos un producto para actualizar los precios')
                                }
                                axios.post('/foods/updatePricesId',{dishes}).then((response)=>{
                                    if(response.data.redirect == '/foods'){
                                        window.location = '/foods';
                                    }else{
                                        window.location = '/auth/logout';
                                    }
                                })
                            }catch(error){
                                alert(error.message);
                            }
                        }  
                    </script>
            </div> 
        </div>
    </div>
    <!--Fin seccion editar Plato del Dia-->